#promote .link-promote {
	color: rgba(51, 51, 51, 0.6);
	pointer-events: none;
}

.section-hero {
  background-color: #FAFAFA;
  padding-top: 32px;
	padding-bottom: 32px;
}

.section-overview {
  padding-top: 64px;
  padding-bottom: 90px;
}


figure[data-figure-id="image-promote-hero"] {
    position: relative;
    margin: 36px auto;
    width: 100%;
    height: 631px;
    background-size: 570px 631px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(/app-store/promoting-in-app-purchases/images/promote-hero-large.png)
}


figure[data-figure-id="image-iap-metadata2"] {
    position: relative;
    margin: 20px auto;
    width: 100%;
    height: 140px;
    background-size: 290px 140px;
    background-position: left;
    background-repeat: no-repeat;
    background-image: url(/app-store/promoting-in-app-purchases/images/iap-metadata2.png)
}

figure[data-figure-id="image-iap-metadata-search"] {
    position: relative;
    margin: 20px auto;
    width: 100%;
    height: 140px;
    background-size: 290px 140px;
    background-position: left;
    background-repeat: no-repeat;
    background-image: url(/app-store/promoting-in-app-purchases/images/iap-metadata-search.png)
}


@media only screen and (min-resolution: 1.5dppx),
(min-resolution: 144dpi) {
    figure[data-figure-id="image-promote-hero"] {
        background-image: url(/app-store/promoting-in-app-purchases/images/promote-hero-large_2x.png)
    }
}

@media only screen and (max-width: 735px) {
    figure[data-figure-id="image-promote-hero"] {
        height: 319px;
        background-size: 288px 319px;
        background-image: url(/app-store/promoting-in-app-purchases/images/promote-hero-small.png)
    }
}

@media only screen and (max-width: 735px) and (min-resolution: 1.5dppx),
only screen and (max-width: 735px) and (min-resolution: 144dpi) {
    figure[data-figure-id="image-promote-hero"] {
        background-image: url(/app-store/promoting-in-app-purchases/images/promote-hero-small_2x.png)
    }
}

