/*--------------
All Contents
--------------*/

/*-----------------
1. Reset.css
2. Helper Classes
3. Home page Hero Sections
4. Pitch Section Styling
5. Features Section Styling
6. Review Styling
7. Pricing section
8. Subscribe Section
9. All Media Queries
------------------*/


/*----- 1. Reset.css -----*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* --- Common Styles ---*/

h1 {
  font-size: 16px;
}

/*----- Helper Classes -----*/

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*
::-webkit-scrollbar {
	display: none;
}
*/
h1, h2, h3, h4, h5, h6 {
  font-family: Lato;
}

p {
	font-family: Lato;
}

::-moz-selection {
    color: #FFFFFF;
    background: #3333CC;
}

::selection {
    color: #FFFFFF;
    background: #3333CC;
}

.nopadding {
	padding: 0;
}

.custompadding {
	padding-left: 5px;
	padding-right: 5px;
}

.no-margin {
	margin-right: 0;
	margin-left: 0;
}


.error-message {
	color: #FF3333;
	font-family: Lato;
	margin-top: 5px;
}

.success-message {
	color:#009900;
	font-family: Lato;
	margin-top: 5px;
}

.divider {
    border-color:#E8E8E8;
    border-style: solid;
    border-width: 0 0 1px;
    height: 10px;
    line-height: 20px;
    text-align:center;
    overflow: visable;
}



#loading {
   width: 100%;
   height: 100%;
   top: 0px;
   left: 0px;
   position: fixed;
   opacity: 1;
   background-color: #F2F2F2;
   z-index: 9999;
   text-align: center;
}

#loading-image {
	display: inline;
    top: 40%;
    position: relative;
  z-index: 9999;
}

.logo {
  margin: 0 auto;
	padding: 0px 0px;
	z-index: 111;
}

.logo:hover, .logo:focus {
	text-decoration: none;
	color: #FFF;
}



/* ------ Navbar Styling Starts ----- */


.navbar {
	font-size: 14px;
  font-family: Lato;
	font-weight: 100;
	text-transform: capitalize;
	padding-top: 25px;
	letter-spacing: 1px;
	height: 80px;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-o-transition: all 0.6s;
	transition: all 0.6s;
	-webkit-backface-visibility: hidden;
}

.navbar-default {
  transition: all 0.6s ease;
	border-color: transparent;
  background-color: #FFFFFF;
}

.navbar-default .navbar-toggle {
  border-radius: 0px;
  border-color: transparent;
}

.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #111111;
}

.navbar-default .navbar-brand .navbar-toggle .collapsed {
    padding: 4px 6px;
    font-size: 14px;
    color: #111111;
  }

.navbar-default .navbar-brand {
	padding-top: 5px;
	color: #111111;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
}

.navbar-default .navbar-brand:hover {
  transition: 1s;
}

.navbar-default .navbar-nav > li > a {
  color: #111111;
  -webkit-transition: all 0.5s;
	-moz-transition: all 0.5;
  transition: all 0.5s;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #000000;
}

.navbar-default .navbar-nav > .active > a {
  background: #FFFFFF;
  color: #222222;
  }


.navbar-default .navbar-nav > .active > a:hover {
    background: #FFFFFF;
    color: #333333;
}

.navbar-default .navbar-nav > .active > a:focus {
	background: #FFFFFF;
  color: #111111;
}

.navbar-default .navbar-collapse {
	border-color: transparent;
  background-color: transparent;
}

.navbar-default .navbar-nav .open .dropdown-toggle {
  color: #111111;
}

.navbar-default .nav-white > li > a {
	font-weight: 300;
	color: #000000;
}

.navbar-default .nav-white > li > a:hover {
	color: #FFFFFF;
background-color: #13A0DD
}

.navbar-default .navbar-brand.nav-white {
	padding-top: 14px;
	color: #FFFFFF;
	font-size: 21px;
	letter-spacing: 1px;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
}

/*---------- Media Queries ---------*/

@media only screen and (max-width: 767px) {

	.navbar {
		padding-top: 5px;
		height: 60px;
	}

  .navbar-default {
    border: 0px;
    background-color: transparent;
  }

	.navbar-default .navbar-collapse {
		text-align: center;
		border-color: transparent;
	  background-color: #FFFFFF;
	}

  .navbar-default .navbar-collapse {
    border: 0;
    border-color: transparent;
  }

  .navbar-default .navbar-nav > li> a {
    color: #222222;
		margin-top: 10px;
  }

	.navbar-default .navbar-nav > li> a:hover {
		color: #222222;
	}

  .navbar-default .navbar-brand {
    color: #FFFFFF;
		padding: 16px 14px !important;
  }

	.navbar-default .navbar-brand.nav-white {
		color: #FFFFFF;
	}

  .navbar-default .navbar-toggle .icon-bar {
    background-color: #111111;
  }
}

@media only screen and (min-width: 240px) {


.navbar.past-main {
	font-size: 14px;
	padding-top: 5px;
	height: 60px;
	background-color: rgba(255, 255, 255, 0.99);
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-o-transition: all 0.6s;
	transition: all 0.6s;
}

.navbar-default.past-main .navbar-brand {
	color: #111111;
}

.navbar-default.past-main .navbar-toggle .icon-bar {
	background-color: #111111;
}

.navbar-default.past-main .navbar-nav > li > a {
  color: #222222;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.navbar-default.past-main .navbar-nav > li > a:hover {
  color: #111111;
}

.navbar-default.past-main .navbar-nav > .active > a {
  background: transparent;
  color: #5924EC;
  }


.navbar-default.past-main .navbar-nav > .active > a:hover {
    background: transparent;
    color: #222222;
}

.navbar-default.past-main .navbar-nav > .active > a:focus {
	background: transparent;
  color: #222222;
}

}

.navbar-default .nav-white .navbar-toggle .icon-bar {
	background-color: #FFFFFF;
}

.navbar-default.past-main .nav-white .navbar-toggle .icon-bar {
	background-color: #111111;
}

/* ------------------------------------------------------
-------------- Main Section Styling Starts --------------
--------------------------------------------------------*/


#main {
  height: 100%;
}


/* ----- Hero Section Styling Starts ----- */

.hero-section {
	height: 100%;
	background: #FFFFFF;
	padding: 140px 0 0 0;
}

.hero-content {
	padding: 100px 0 100px 0;
	overflow: hidden;
}

.hero-content h1 {
	font-size: 34px;
	font-weight: 400;
	color: #262626;
	line-height: 1.2;
	letter-spacing: -1px;
	margin: 0 0 20px 0;
}

.hero-content p {
	font-family: Lato;
	font-size: 14px;
	color: #000000;
	font-weight: 400;
	line-height: 1.5;
	margin: 0 0 25px 0;
}


.btn-action {
 font-family: Roboto;
 background-color: #13A0DD;
 border: 1px solid #13A0DD;
 border-radius: 0;
 color: #FFFFFF;
 font-size: 13px;
 font-weight: 400;
 letter-spacing: 2px;
 line-height: 1;
 padding: 10px 21px;
 text-transform: uppercase;
 outline: none;
 -webkit-transition: 300ms;
 -moz-transition: 300ms;
 -o-transition: 300ms;
 transition: 300ms;
}

.btn-action:hover, .btn-action:focus,
.btn-action:active, .btn-action:active:focus {
 background: transparent;
 outline: none;
 color: #13A0DD;
 background: #FFFFFF;
 border-color: #13A0DD;
}


.product .btn-action {
 background-color: transparent;
 border: 1px solid #82714a;
 color: #82714a;
}

.product .btn-action:hover, .product  .btn-action:focus {
 background: #92714A;
 color: #FFFFFF;
 border-color: #82714A;
}




/*-----------------------------------------------------
-------------- Image Bg Styling Starts ----------------
------------------------------------------------------*/


.image-bg .hero-section {

	background: linear-gradient(to right, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url(../images/back2.jpg) no-repeat center center;
	background-size: cover;
	padding: 140px 0 200px 0;
}

.image-bg .hero-content h1 {
	font-weight: 700;
	color: #FFFFFF;
	background-color: #13A0DD;
}

.image-bg .hero-content p {
	color: #FFFFFF;
}





/*----------------------------------------------------
----------- Pitch Section Styling Starts ----------
-----------------------------------------------------*/


.pitch {
	padding: 100px 0 10px 0;
	background: #FFFFFF;
}

.pitch-intro {
	max-width: 600px;
	margin: 0 auto;
	padding: 0 0 100px 0;
}

.pitch-intro h1 {
	font-size: 24px;
	font-weight: 600;
	line-height: 1.2;
	letter-spacing: -1px;
	color: #454545;
	margin: 0 0 30px 0;
}


.pitch-intro p {
	font-family: 'Lato';
	font-size: 18px;
	font-weight:300;
	line-height: 1.5;
	color: #000000;
	letter-spacing: 0;
}

.pitch-icon {
	margin: 0 0 10px 0;
	background: #13A0DD;
	width: 60px;
	height: 60px;
	display: inline-block;
	border-radius: 50%;
}

.pitch-icon i {
	font-size: 34px;
	color: #FFFFFF;
	position: absolute;
	left: 0;
	right: 0;
	top: 13px;
}

.pitch-content {
	padding: 10px 0 50px 0;
}

.pitch-content h1 {
	font-size: 21px;
	font-weight: 600;
	line-height: 1.2;
	letter-spacing: 0;
	color: #454545;
	margin: 0 0 10px 0;
}

.pitch-content p {
	font-family: 'Lato';
	font-size: 18px;
	line-height: 1.5;
	font-weight:300;
	color: #454545;
	letter-spacing: 0;
}




/*----------------------------------------------------
----------- Features Section Styling Starts ----------
-----------------------------------------------------*/


.features {
	padding: 25px 0 25px 0;
}

.features-inner {
	width: 100%;
}

.features .features-list {
	padding: 20px 0 0 0;
	text-align: center;
}

.features .features-list h1 {
	font-size: 26px;
	font-weight: 400;
	line-height: 1;
	color: #222222;
	margin: 0 0 30px 0;
}

.features .features-list ul {
	list-style-type: circle;
	padding-left: 20px;
	text-align: center;
}


.features .features-list ul li {
	display: block;
	margin: 0 0 14px 0;
	font-family: 'Josefin Sans';
	font-size: 16px;
	line-height: 1.2;
	color: #000000;
}


/*  --------------------------------------------------
------------- Reviews Section Styling ----------------
-----------------------------------------------------*/

.app-features {
	background: #FFFFFF;
	padding: 40px 0 0px 0;
	overflow-x: hidden;
}

.app-features h1 {
	font-size: 24px;
	font-weight: 600;
	margin: 0 0 10px 0;
}

.app-features p {
	font-size: 18px;
	font-weight: 300;
	color: #000000;
	line-height: 1.4;
	margin: 10px 0 50px 0;
}


.app-features img {
	 margin: 0 auto;
	 max-width: 75%;
}

.app-features .features-left, .app-features .features-right {
	padding: 50px 0 0 0;
}

.app-features .icon {
	margin-top: 10px;
	margin-bottom: 20px;
}

.app-features .icon i {
	font-size: 42px;
	color: #1489C9;
}


.app-features .feature-single {
	margin-left: 0;
	margin-bottom: 120px;
	margin-top: 10px;
}


.app-features .feature-single h1 {
	font-size: 30px;
	font-weight: 600;
	color: #454545;
	margin: 0 0 10px 0;
	letter-spacing: 1px;
}

.app-features .feature-single p {
	font-family: Lato;
	font-size: 14px;
	color: #000000;
	line-height: 1.4;
	margin: 10px 0 0 0;
}




/*  --------------------------------------------------
------------- Pricing Section Styling ----------------
-----------------------------------------------------*/


.pricing {
	padding: 50px 0 100px 0;
}

.pricing-content {
	padding: 60px 0 0 0;
	text-align: center;
}

.pricing h1 {
	font-size: 28px;
	font-weight: 400;
	letter-spacing: -1px;
	line-height: 1.2;
}

.pricing h4 {
	font-size: 14px;
	font-weight: 400;
	color: #000000;
	margin: 10px 0 30px 0;
}

.pricing p {
	font-family: 'Lato';
	font-size: 14px;
	font-weight: 400;
	color: #444444;
	line-height: 1.4;
}

.pricing .btn-buy {
	padding: 40px 0 20px 0;
}

.pricing .btn-buy img {
	display: inline;
}

.pricing .price-tag h2 {
	font-family: 'Josefin Sans';
	font-size: 24px;
	font-weight: 400;
	color: #000000;
	margin: 0 0 20px 0;
}

/* ------------ Demos -------------- */ 

.img-demo {
  margin-bottom: 1em;
  margin-top: 1em;
  
}

.img-demo img {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

.img-demo:hover img {
  -webkit-transform: scale(1.02);
	-moz-transform: scale(1.02);
	-ms-transform: scale(1.02);
	transform: scale(1.02);
}

.img-full img {
  max-width: 100%;
  margin: 0 auto;
}

.aria {
  background: #FFFFFF;
  	padding: 40px 0 10px 0;

}

.aria h1 {
		font-size: 21px;
	font-weight: 600;
	line-height: 1.2;
	letter-spacing: 0;
	color: #454545;
	margin: 0 0 10px 0;
}

.aria h2 {
	color:#0EA3DD;
	font-size: 20px;
	font-weight: 400;
	padding-top: 20px;
	padding-bottom: 20px;
}

.aria  p {
	font-size: 15px;
	font-weight: 400;
}

.title {
	padding-bottom: 10px;
}

.title p {
	font-size: 18px;
	font-weight: 300;
}

.aria .img-demo:hover img {
  box-shadow: 0 1px 10px #999;
}

.advent .img-demo img {
  box-shadow: 0 0px 0px #999;
}


/* -------------- Contact Styling Starts ---------------*/ 



.contact {
  margin-bottom: 1em;
  margin-top: 1em;
}

.contact {
  background: #FFFFFF;
  	padding: 40px 0 20px 0;

}

.contact h1 {
	font-size: 16px;
	font-weight: 600;
	line-height: 1.2;
	letter-spacing: 0;
	text-align: left;
	color: #454545;
	margin: 0 0 10px 0;
}

.contact h2 {
	color:#0EA3DD;
	font-size: 20px;
	font-weight: 400;
	padding-top: 20px;
}

.contact  p {
	font-size: 14px;
	text-align: left;
	font-weight: 400;
	padding-top: 20px;
}
.contact a  {
  color: #454545;
text-decoration: none;

}

.contact a :hover {
  color: #0EA3DD;
}


/* -------------- Contact Styling Ends ---------------*/ 


.left {
  position: relative;
  z-index: 2;
}

.currently {
  margin-bottom: 60px;
}


.left h1 {
  font-size: 48px;
  line-height: 62px;
  font-weight: 300;
  color: #323233;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16);
  margin: 0;
}

.left h2 {
  font-family: "adelle-sans", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  font-weight: 400;
  color: #0EA3DD;
  margin: 0 0 6px;
}

.left ul {
  list-style: none;
}

.left li {
  font-size: 14px;
  line-height: 25px;
  margin: 0;
}

.left p {
  font-family: "adelle-sans", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
}



/* ----- Pricing Tables Styling Starts ----- */

.pricing-section {
	width: 100%;
	height: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
	background: #FFFFFF;
}

.pricing-intro {
	padding-bottom: 30px;
}

.pricing-intro h1 {
	font-size: 28px;
	color: #111111;
	font-weight: 600;
	line-height: 1.4;
}


.pricing-intro p {
	font-size: 14px;
	color: #303030;
	font-weight: 300;
	line-height: 1.4;
	letter-spacing: 1px;
	margin-top: 10px;
	margin-bottom: 50px;
}

.pricing-section .table-left, .pricing-section .table-right {
	padding: 20px 20px 50px 20px;
	margin: 0 auto;
	margin-bottom: 30px;
	background-color: #FFFFFF;
	box-shadow: 0px 0px 80px 0px rgba(0,0,0,.1);
	border: transparent;
	max-width: 400px;
}

.table-left .icon, .table-right .icon {
	padding: 50px 50px 40px 50px;
}

.table-left .icon img, .table-right .icon img {
	width: 60px;
	height: 60px;
	margin: 0 auto;
}

.table-left .pricing-details span, .table-right .pricing-details span {
	display: inline-block;
	font-family: Lato;
	font-size: 28px;
	font-weight: 400;
	color: #808080;
	margin-bottom: 20px;
}

.table-left .pricing-details h2, .table-right .pricing-details h2 {
	font-size: 18px;
	font-weight: 600;
	color: #505050;
	margin-bottom: 30px;
}

.table-left .pricing-details p, .table-right .pricing-details p {
	font-family: Lato;
	font-size: 14px;
	font-weight: 300;
	color: #505050;
	letter-spacing: 1px;
	line-height: 1.4;
}

.table-left .pricing-details ul, .table-right .pricing-details ul {
	margin-top: 30px;
	margin-bottom: 50px;
}


.table-left .pricing-details li, .table-right .pricing-details li {
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	color: #505050;
	line-height: 1.4;
	margin-bottom: 10px;
}

.pricing-section .table-left:hover, .pricing-section .table-right:hover {
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.pricing-section .table-left, .pricing-section .table-right {
	margin-top: 20px;
}

.pricing-section .table-center {
	margin-top: 0;
}

/* ----- Pricing Section Styling Ends ----- */


/*----------------------------------------------------
------------- All ------------------------------------
--------------------- Media --------------------------
------------------------------- Queries --------------
-----------------------------------------------------*/

@media only screen and (min-width: 767px) {
	.logo {
	  position: absolute;
	  top: 20px;
	  left: 20px;
	}

	.hero-section {
		padding: 140px 0 100px 0;
	}

	.form .hero-section {
		padding: 140px 0 50px 0;
	}

	.form .hero-content {
		padding: 100px 0 100px 0;
		overflow: hidden;
	}

	.form .hero-content h1 {
		font-size: 54px;
	}

	.product .hero-content {
		padding: 140px 0 100px 0;
		text-align: left;
	}

	.hero-content h1 {
		font-size: 48px;
		margin: 0 0 20px 0;
	}

	.hero-content p {
		font-size: 14px;
	}

	.about-content h2 {
		font-size: 38px;
	}

	.software .hero-content h1 {
		font-size: 42px;
	}

	.image-bg .hero-content h1 {
		font-size: 54px;
	}


	.signup .hero-content h1 {
		font-size: 48px;
	}

	.features .features-list {
		padding: 100px 0 0 0;
		text-align: left;
	}

	.features .features-list ul li {
		font-size: 18px;
		display: list-item;
		text-align: left;
	}


	.software .features {
		padding: 100px 0 100px 0;
	}

	.software .features .features-list h1 {
		font-size: 34px;
	}

	.software .features .features-list {
		padding: 30px 0 0 0;
	}


	.software .features .features-list ul li {
		display: list-item;
		font-size: 14px;
		text-align: left;
	}


	.feature-sub {
		padding: 300px 0 300px 0;
	}

	.feature-sub .sub-inner h1 {
		font-size: 42px;
	}

	.software .feature-sub .sub-inner h1 {
		font-size: 42px;
	}

	.split-content {
		padding: 120px 100px 50px 10px;
		text-align: left;
	}

	.split-content h1 {
		font-size: 42px;
	}


	.pricing {
		padding: 100px 0 100px 0;
	}

	.pricing-content {
		text-align: left;
	}

	.cta-sub .cta-inner h1 {
		font-size: 36px;
	}


	.cta-inner {
		max-width: 500px;
		float: right;
	}


}

@media only screen and (min-width: 767px) and (max-width: 1024px) {
	.features .features-list {
		padding: 80px 0 0 0;
	}

	.split-content {
		padding: 100px 100px 50px 50px;
		text-align: left;
	}
}


@media screen and (min-width: 400px) and (max-width: 600px) {

 .subscribe-form .mail {
   padding: 0 30px 0 20px;
   border-radius: 5px 0 0 5px;
 }

 .subscribe-form .submit-button {
   padding: 0 5px 0 5px;
   border-radius: 0 5px 5px 0;
 }
}


@media screen and (max-width: 399px) {

	.cta-sub {
		text-align: center;
	}

	.subscribe-form {
		text-align: center;
	}

 .subscribe-form .mail {
	 text-align: center;
   padding: 0 0 0 0;
   border-radius: 5px 0 0 5px;
 }

 .subscribe-form .submit-button {
   padding: 0 5px 0 5px;
   border-radius: 0 5px 5px 0;
	 margin-top: 14px;
 }

 .form .sub-form .subscribe-form {
 	text-align: left;
 }


  .form .sub-form .subscribe-form .mail {
 	 text-align: center;
    padding: 0 0 0 0;
    border-radius: 5px 0 0 5px;
  }

  .form .sub-form .subscribe-form .submit-button {
    padding: 0 5px 0 5px;
    border-radius: 0 5px 5px 0;
 	 margin-top: 14px;
  }

 .back-to-top {
	right: 10px;
}

 }

 @media only screen and (min-width: 991px) and (max-width: 1201px) {

	 .app-features .features-left, .app-features .features-right {
	 	padding: 0 0 0 0;
	 }

	 .software .features .features-list {
		 padding: 0 0 0 0;
	 }

 }


/*---------------------------------------------------
------- Media Queries for Split Layout Ends ---------
---------------------------------------------------*/
