.section-hero {
  background-color: #F2F2f2;
  padding-top: 32px;
  padding-bottom: 64px;
}

.main .section-content {
  max-width: 820px;
}

.copy-wrapper {
  position: relative;
  top: 150px;
}

@media only screen and (max-width: 735px) {
  .copy-wrapper {
    top: 0;
  }
}

.section-today {
  padding-top: 64px;
  padding-bottom: 64px;
}

.section-games {
  background-color: #C7E9FF;
  padding-top: 64px;
  padding-bottom: 64px;
}

.section-product-page {
  background-color: #E4F5F2;
  padding-top: 64px;
  padding-bottom: 64px;
}

.section-in-app-purchases {
  padding-top: 64px;
  padding-bottom: 64px;
}

.section-search {
  background-color: #EFE4F4;
  padding-top: 64px;
  padding-bottom: 64px;
}

.frame-iphone-7 {
  width: 310px;
  height: 631px;
  padding: 77px 21px 79px 22px;
  background-image: url(../images/iphone-7-frame-large.png);
  background-repeat: no-repeat;
  background-size: 310px 631px;
}

.frame-iphone-7-landscape {
  width: 631px;
  height: 310px;
  padding: 22px 79px 21px 77px;
  background-image: url(../images/iphone-7-frame-landscape-large.png);
  background-repeat: no-repeat;
  background-size: 631px 310px;
}

.frame-iphone-7 figure{
  width: 267px;
  height: 475px;
  background-size: 267px 475px;
}

.frame-iphone-7-landscape figure {
  width: 475px;
  height: 267px;
  background-size: 475px 267px;
}

.frame-ipad-landscape {
  width: 842px;
  height: 597px;
  padding: 38px 76px 41px 76px;
  background-image: url(../images/ipad-frame-landscape-large.png);
  background-repeat: no-repeat;
  background-size: 842px 597px;
}

@media only screen and (max-width: 735px) {
  .frame-ipad-landscape {
    width: 601px;
    height: 426px;
    padding: 28px 54px 29px 55px;
    background-image: url(../images/ipad-frame-landscape-small.png);
    background-repeat: no-repeat;
    background-size: 601px 426px;
  }
}

.frame-ipad-landscape figure {
  width: 690px;
  height: 518px;
  background-size: 690px 518px;
}

@media only screen and (max-width: 735px) {
  .frame-ipad-landscape figure {
    width: 492px;
    height: 369px;
    background-size: 492px 369px;
  }
}

figure[data-figure-id="image-today"] {
  background-image: url(../images/tab-today.png);
}

figure[data-figure-id="image-games"] {
  background-image: url(../images/tab-games.png);
}

.frame-apps {
  position:absolute;
  top: 24px;
  left: 172px;
}

figure[data-figure-id="image-apps"] {
  background-image: url(../images/tab-apps.png);
}

figure[data-figure-id="image-product-page"] {
  background-image: url(../images/product-page.png);
}

figure[data-figure-id="image-in-app-purchases"] {
  background-image: url(../images/in-app-purchases.png);
}

figure[data-figure-id="image-search"] {
  background-image: url(../images/tab-search.png);
}

figure[data-figure-id="image-hero"] {
    position: relative;
    margin-top: 36px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 715px;
    background-size: 1116px 715px;
    background-position: center top;
    background-repeat: no-repeat;
    background-image: url(../images/app-store-hero-large.png)
}

@media only screen and (min-resolution: 1.5dppx),
(min-resolution: 144dpi) {
    figure[data-figure-id="image-hero"] {
        background-image: url(../images/app-store-hero-large_2x.png)
    }
}

@media only screen and (max-width: 1068px) {
    figure[data-figure-id="image-hero"] {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 501px;
        background-size: 782px 501px;
        background-position: center top;
        background-repeat: no-repeat;
        background-image: url(../images/app-store-hero-medium.png)
    }
}

@media only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    figure[data-figure-id="image-hero"] {
        background-image: url(../images/app-store-hero-medium_2x.png)
    }
}

@media only screen and (max-width: 735px) {
    figure[data-figure-id="image-hero"] {
      width: 100%;
      height: 454px;
      background-size: 700px 454px;
      background-position: 24px top;
      background-repeat: no-repeat;
      background-image: url(../images/app-store-hero-medium.png)
    }
}

@media only screen and (max-width: 735px) and (min-resolution: 1.5dppx),
only screen and (max-width: 735px) and (min-resolution: 144dpi) {
    figure[data-figure-id="image-hero"] {
        background-image: url(../images/app-store-hero-medium_2x.png)
    }
}

